.jumbotron {
    text-align: center;
    background-color: #fceed1;
    color: black;
}

body {
    margin-bottom: 50px;
}

.time-block{
    text-align: center;
    padding: 15px;
}

.row {
    white-space: pre-wrap;
    height: 75px;
}

.past {
    background-color: #e1e8f0;
    color: black;
}

.present {
    background-color: #ff0028;
    color: black;
}

.future {
    background-color: #478559;
    color: black;